---
Name: default-predict-customisation
After:
  - '#coreconfig'
---

# use any DataObject here
Page:
  # must have
  extensions:
    - Sunnysideup\DefaultPredict\Extension\DefaultPredictExtension
  # nice to haves
  default_predictor_limit: 5 # use the last five records to predict
  default_predictor_threshold: 0.5 # minimum ratio of occurences to consider it
  default_predictor_recency_factor: 1 # how important is recency
